export VOLCENGINE_ACCESS_KEY='<YOUR_ACCESS_KEY>'
export VOLCENGINE_SECRET_KEY='<YOUR_SECRET_KEY>'
export VOLCENGINE_SESSION_TOKEN='<YOUR_SECURITY_TOKEN>'
export VOLCENGINE_DISABLE_DEFAULT_CREDENTIALS='true'
export VOLCENGINE_REGION='cn-beijing'
export TF_CLI_CONFIG_FILE='<ABSOLUTE_PATH_TO_TERRAFORMRC>'
