.credentials.env
.DS_Store
templates/**/.terraform/
templates/**/terraform.tfvars
templates/**/state/*
!templates/**/state/.gitkeep
templates/**/plans/*
!templates/**/plans/.gitkeep
*.tfplan
*.tfstate*
.terraform.tfstate.lock.info
*.log
crash.log
crash.*.log
